<h2 class="text-center">Counter Application</h2>
<div class="container text-center mt-5 col-lg-8">
    <h1>{{countnumber}}</h1>


<div class="row">

    <div class="col-lg-4 p-5">
        <button type="button"  class="btn col-6 btn-primary active" (click) = "resetbtn()">Reset</button>
       

    </div>

    <div class="col-lg-4 p-5">
        <button type="button" id = 'btn-2' class="btn col-lg-6 btn-success" (click) = "increasebtn()">+</button>

    </div>

    <div class="col-lg-4 p-5">
        <button type="button" id='btn-3' class="btn col-lg-6 btn-danger" (click) = "decreasebtn()">-</button>

    </div>


</div>
</div>
